<!DOCTYPE html>
<html>
<head>
  <title>Express API Example</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Random Cat Fact</h1>
  <p><%= data.data %></p>
</body>
</html>
